:root {
    --white: #f6f5f4;
    --gray: #3d3846;
    --lighter-grey: rgb(222,221,218);
    --light-grey: #57535f;
    --dark-grey: #241f31;
    --dark-purle: #423a57;
    --blue: #2270d8;
    --violet: #c061cb
}
html, body {
    color: var(--white);
    padding: 0; margin: 0;
    font-family: Open Sans;
    background-color: var(--gray);
    font-weight: 300;
    min-width: 1420px;
}
a {
    color: var(--white);
    text-decoration: none;
}
div.WholePage {
    display: flex;
}
nav {
    max-width: 300px;
    /* height: 100%; */
    background: var(--dark-grey);
}
nav a {
    display: block;
    padding: 15px 35px;
}
nav a.active {
    background: var(--gray)
}
nav p {
    border-bottom: 1px solid var(--gray);
    padding: 15px 20px;
    font-weight: bold;
    margin: 0;
}
nav a:hover {
    display: block;
    background: var(--light-grey);
}

section {
    padding: 20px 50px; 
    flex: 1;
    text-align: center;
}


section h2 {    
    margin: 30px 0;
    font-weight: lighter;
}

h1 {font-size: 50px;font-weight: bold;text-transform: uppercase;margin: 10px;}
h3 { font-size: 30px;font-weight: lighter;}
.index .contantStats { display: flex; flex-wrap: wrap;}
.index .stats {flex: 1; margin: 20px 25px;}
.index .blockStats {display: flex;border-radius: 10px;padding: 20px;font-size: 25px;}
.index .textStats { display: inline-block; text-align: right; flex: auto}

.index .blockStats.blue { background: linear-gradient(20deg, var(--blue), #60cbff); }
.index .blockStats.pink { background: linear-gradient(20deg, #a852a7, #ffb1f7); }
.index .blockStats.red { background: linear-gradient(20deg, #8e2222, #ff8686); }
.index .blockStats.green { background: linear-gradient(20deg, #54a437, #b5f790); color: #241f31; }
.index .blockStats.yellow { background: linear-gradient(20deg, #d0bf30, #fffaac); color: #241f31; }
.index .blockStats.purple { background: linear-gradient(20deg, #6132a6, #b572ec); }
.index .blockStats.black { background: linear-gradient(20deg, #1e1e1e, #404040); }
.index .blockStats.orange { background: linear-gradient(20deg, #d86622, #ffab83); }
