
/* COMPONENTS */
input[type="text"], input[type="password"], input[type="file"], textarea, select {
    display: block;
    margin: 0 auto 30px;
    height: 40px;
    background-color:#6a6475;
    border: 0;
    border-bottom: 5px solid var(--blue);
    padding: 5px 20px;
    font-size: 20px;
    outline: none;
    font-weight: 100;
    transition: border .4s;
    color: var(--white);
    border-radius: 10px;
    font-family: var(--default-font); 
    width: 90%;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border-bottom: 5px solid var(--violet);
}
input[type="text"]:invalid {
    border-bottom: 5px solid #ff4040;
}
select {
    width: 96%; 
    height: 50px;  
}
textarea {
    height: 160px;
    padding: 10px 20px;
    resize: vertical;
}
a {
    text-decoration: none;
}
input:focus {
    outline: none;
}
hr {
   background: linear-gradient(20deg, var(--blue), var(--violet));
   height: 10px;
    border-radius: 10px;
   border: none;
   width: 50%;
}
.btn {
	padding: 20px;
    top: 25px;
	background: none;
	border: none;
	position: relative;
    text-decoration: none;
    color: var(--white);
	text-transform: uppercase;
	font-weight: bold;
	cursor: crosshair;
    letter-spacing: 1px;    
    font-family: 'Open Sans';
	font-size: 16px;
}
.btn::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		transform: translate(3px, 3px);	
		right: 0;
		border: 2px solid var(--dark-grey);
		transition: transform .2s; 
}
.btn::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: 2px solid var(--dark-grey);
		transition: transform .2s; 
		transform: translate(-3px, -3px);
}
.btn:hover::before, .btn:hover::after {
    transform: translate(0);
}

.btn:hover {
    background: #362d4e;
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 102px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal .modal-content {
    position: relative;
    background-color: var(--gray);
    margin: auto;
    padding: 0;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal .modal-image {
    width: 150px; height: 150px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid transparent;
}
.modal .modal-image:focus {
    width: 150px; height: 150px;
    border-radius: 10%;
    display: inline-block;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modal .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: crosshair;
    }
.modal .modal-header {
    padding: 2px 16px;
    background: linear-gradient(20deg, var(--violet), var(--blue));
    color: white;
}
.modal .modal-body {padding: 2px 16px;}
.modal .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


/* TABLE */ 

table  { width: 100% }
table tr:first-child td {
    font-weight: bold;
}
table tr td {
    padding: 10px 15px;
    font-size: 18px;
    border: 1px solid var(--light-grey);
}
table tr {
    height: 70px;
}
table tr td a {
    height: 80px;
    transition: all 0.25s;
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid var(--dark-grey);
}
table tr td a:hover {
    height: 80px;
    padding: 8px 20px;
}

/* FLEX BLOCK */

.flexBlock {
    display: flex;
}
.flexContent.border-first:first-child {
    border-right: 5px solid #524d5b;
}
.flexContent {
    padding: 0 40px;
    /* margin: 0 40px;  */
    flex: 1;
}
/* Messages */
.errorMessage {
    background: #cb6161;
    border-bottom: 5px solid #fff;
    width: 65%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bolder;
}
.successMessage {
    background: #61cb78;
    border-bottom: 5px solid #fff;
    width: 65%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bolder;
}
.infoMessage {
    background: #61a4cb;
    border-bottom: 5px solid #fff;
    width: 65%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bolder;
}

.sendButton {
    height: 100px;
    display: inline-block;
    margin: 0 10px;
}

/* PAGINATION */
.pagination .pageB.active {
	background: linear-gradient(270deg, var(--violet), #6902ff);
}
.pagination .pageB.active:hover {
	background: linear-gradient(270deg, #6902ff, var(--violet));
}
.pagination .pageB:hover {
    background: linear-gradient(270deg, #0b488a, var(--blue));
    border-bottom: 5px solid white;
}
.pagination {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.pagination .pageB {
	padding: 13px 20px 8px 20px;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	box-shadow: 3px 3px 7px var(--shadow);
	z-index: 1;
	border-bottom: 5px solid transparent;
	margin: 10px 5px;
	position: relative;
	border-radius: 10px;
	background: linear-gradient(270deg, var(--blue), #0b488a);
	display: inline-block;
	transition: all 0.15s;
}
.pagination .pageButtonFun {
	transition: 0s;
}
.pagination .pageButtonFun:active {
	font-size: 14px;
	margin-bottom: 12px;
}

button.nocss {
    background: none;
    border: none;
    cursor: crosshair;
}