:root {
    --white: #f6f5f4;
    --gray: #3d3846;
    --lighter-grey: rgb(222,221,218);
    --light-grey: #57535f;
    --dark-grey: #241f31;
    --dark-purle: #423a57;
    --blue: #2270d8;
    --violet: #c061cb;
    --default-font: "Open Sans";
    --shadow: #241f3191;
}
a {
    color: var(--white);
    cursor: crosshair;
}
body, html {
    padding: 0;
    margin: 0;
    background-color: var(--gray);
    font-family: Open Sans;
    font-weight: 300;
    color: var(--white);
    min-width: 1200px;
}
header {
    background: linear-gradient(20deg, var(--blue), var(--violet));
    font-weight: 200;
    height: 200px;
    font-family: 'Raleway', sans-serif;
}
header.main {
    height: 500px;
}
nav {
    width: 1050px;
    margin: 0 auto;
    padding-top: 25px;
}
input:focus {
    outline: none;
}
nav .leftNav {
    display: inline-block;
}
nav .rightNav {
    float: right;
}
nav .headLink {
    font-size: x-large;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px;
}
nav .teamLogo.main  { 
    padding-top: 125px;
    font-size: 135px;
}
nav .teamLogo {
    font-size: 90px;
    margin: 0 auto;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    color: white;
}
nav .headText .header-content h1 { 
    margin: 0; padding: 0;
    font-size: 50px;
}
nav .headText .header-content {
    margin: 0 auto;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    padding-top: 50px;
    color: white;
}
.content {
    width: 1050px;
    padding: 0px 20px;
    margin: 0 auto;
    text-align: center;
}
.content.homepage {
    padding: 100px 20px;
}
.content.wide-page {
    background: url('../../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 97%;
    padding: 50px 0;
    transition: all 0.8s;
    border-radius: 10px;
    transform: scale(0.98);
    box-shadow: 5px 5px 10px #241f3191;
}

.content.wide-page:hover {
    width: 100%;
    transform: scale(1);
    border-radius: 0;
}

/* INDEX PAGE */
.content .index {
    padding: 0;
}
.content .index .index-content {
    /* put things later */
}
.content .index .small-text{
    padding-bottom: 15px;
}
.content .index h1 {
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}
.content .index p {
    font-size: 20px;
}

.content ul.games {
    display: grid;
    color: var(--lighter-grey);
    padding: 0;
    text-align: justify ;
    grid-template-columns: 1fr 1fr 1fr;
}  
.content ul.games li img {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
}
.content ul.games li p {
    padding: 10px 15px 30px;
    margin: 0;
}
.content ul.games li h3 {
    font-size: 25px;
    
    padding: 20px 0 0 0;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 0;
}
.content ul.games li {
    list-style-type: none;
    background: var(--light-grey);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px #241f3191;
} 


/* CONTENT OF PAGES */
.content .page {
    margin-top: 50px;
}
.content .page #form p {
    /* font-weight: normal; */
    text-align: justify;
    font-size: 18px;
}
.content .page #form {
    max-width: 500px;
    margin: 0 auto 40px;
    display: block;
    height: 100%;
}
.content .page h1, .content .page h2 {
    margin: 30px 0;
    font-weight: lighter;
}
.content .page div.sendButton {
    height: 75px;
    margin-top: 0px;
}
.content .page small a { color: var(--violet); }
.content .page small {
    font-size: 15px;
}
.page.articles .flexBlock .flexContent .selectOthersPic img {
    height: 150px;
    border: 1px solid var(--light-grey);
    overflow: auto;
}
.page.articles .flexBlock .flexContent p { font-size: 18px }
label.stock.yes {    
    background: #22ce6d;
    padding: 3px 15px;
    color: var(--dark-grey);
    margin-left: 20px;
}
label.stock.no {    
    background: #db6767;
    padding: 3px 15px;
    color: var(--dark-grey);
    margin-left: 20px;
}
.page.articles .flexBlock .flexContent img {
    height: auto;
    max-width: 100%;
}

/* page users */
.page.user .image-profile  {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    margin-right: 15px;
}
.page.user h1.profile {
    float: left;
    margin: 0 !important;
    vertical-align: top;

}
.page.user .accountButtons {
    height: 100px;
}
.page.user .accountButtons a {
    margin: 0 10px;
    float: right;
    vertical-align:top;
}
/* page profile */
.page.profil .image-profile  {
    width: 250px;
    height: 250px;
    
    border-radius: 50%;
    display: inline-block;
}
.page.profil .block { 
    margin-bottom: 50px;
}

.page.profil h1.profile {
    text-transform: uppercase;
    font-size: 70px;
    display: block;
    margin: 0;
}
.page.profil h2.profile { 
    font-size: 30px;
    margin: 0;
}
.page.profil .tabs { background: var(--dark-grey); display: flex;}
.page.profil .tabs .tabBtn { background: var(--dark-grey);cursor: crosshair;flex: 1;transition: all 0.25s;height: 50px;border-right: 3px solid;color: var(--white);font-size: 25px;border: none;border-right: 5px solid var(--dark-purle);}
.page.profil .tabs .tabBtn:last-child { border: none; }
.page.profil .tabs .tabBtn:hover{ background: var(--blue);}
.page.profil .tabs .tabBtn.active{ background: var(--violet);}
.page.profil .tabContent { padding: 50px 0; }
.page.profil .sendComment { margin-bottom: 110px;}
.page.shop .shopContent {
    display: flex;
    margin-bottom: 120px;
    margin-top: 40px;
}
.page.shop .sidebar {
    width: 20%;
    background: var(--gray);
    vertical-align: top;
}
.page.shop .articles {
    margin: 0 0 0 20px;
    width: 100%;
} 
.page.shop input[type=text] {
    width: 81%;
    margin: 0;
}
.page.shop button.btn {
    margin-bottom : 25px;
}
.page.shop .listeArticles{
    display: flex;
    flex-wrap: wrap;
}
.page.shop .article {
    background: var(--light-grey);
    padding: 10px;
    margin: 0 10px 20px;
    flex: 0 0 28.4%;
    border-radius: 10px;
    display: inline-block;
}
.page.shop .article h3 {
    margin: 5px 0;
}
.page.shop .article img {
    border-radius: 10px;
    width: 100%;
}
.page.shop .article .lienArticle {
    height: 80px;
}
.page.shop .article p.descArti {
    font-weight: bold;
    text-align: justify;
    padding: 0 5px;
}
.avisArticles .avisArticle .profileBlock a { 
    vertical-align: top;
    margin: 40px;
    display: inline-block
}
.avisArticles .avisArticle .profileBlock img {
    height: 100px !important; width: 100px;
}
.avisArticles .avisArticle .flexBlock.oneChild {    
    background: var(--light-grey);
    border-radius: 10px;
}
.page.shop .sidebar h3 {
    text-transform: uppercase;
    font-size: 25px;
}
.page.shop .sidebar ul {
    padding: 0;
}

.page.shop .sidebar ul li {
    list-style-type: none;
    text-align: left;
    padding: 0;
}
.page.shop .sidebar ul li a {
    font-size: 18px;
    font-weight: normal;
}


/* PLAYS */ 

.plays .flexPlay {
    display: flex;
    flex-wrap: wrap;
}
.plays .flexPlay .previewPlay {
    flex: 0 0 31%;
    margin: 10px;
    transition: all 0.15s;
}
.plays .flexPlay .previewPlay:hover {
   opacity: 0.5;
}
.plays .flexPlay .previewPlay img {
    width: 100%;height: 182px;
}
.plays .flexPlay .previewPlay p {
    margin: 0;
}
.plays .flexPlay .previewPlay .userBlock img {
    border-radius: 50%;
    float: left;
    margin: 5px 10px 5px 5px;
    width: 50px;
    height: 50px;
}
.plays .flexPlay .previewPlay .userBlock p {
    border-radius: 50%;
    vertical-align: top;
    text-align: left;
    margin-top: 5px;
    float: left;
}

/* WATCH PLAY */ 

.page.viewplays .flexPlay {
    display: flex;
    flex-wrap: wrap;
}
.page.viewplays .flexPlay .previewPlay {
    flex: 0 0 31%;
    margin: 10px;
}
.page.viewplays .flexPlay .previewPlay img {
    width: 100%;
}
.page.viewplays .flexPlay .previewPlay p {
    margin: 0;
}
.page.viewplays .flexPlay .previewPlay .userBlock img {
    border-radius: 50%;
    float: left;
    margin: 5px 10px 5px 5px;
    width: 50px;
    height: 50px;
}
.page.viewplays .flexPlay .previewPlay .userBlock p {
    border-radius: 50%;
    vertical-align: top;
    text-align: left;
    margin-top: 5px;
    float: left;
}
.page.viewplays .flexPlayList {
    display: block;
}
.page.viewplays .flexPlayList .previewPlay {
    margin: 0 0  10px 10px;
}
.page.viewplays .flexPlayList .previewPlay img {
    width: 170px;
    height: 96px;
    display: inline-block;
}
.page.viewplays .flexPlayList .previewPlay p {
    margin: 0;
}
.page.viewplays .flexPlayList .previewPlay .userBlock img {
    border-radius: 50%;
    float: left;
    margin: 5px 10px 5px 5px;
    width: 50px;
    height: 50px;
}
.page.viewplays .flexPlayList .previewPlay .userBlock {
    display: inline-block;
    vertical-align: top;
    word-break: break-all;
    width: 210px
}
.page.viewplays .flexPlayList .previewPlay .userBlock p {
    border-radius: 50%;
    vertical-align: top;
    text-align: left;
    margin-top: -5px;
    margin-left: 15px;
    float: left;
}
@media screen and (max-width: 1400px) {

}
.page.viewplays .page .viewplays h1 {
    padding: 0;
}
.page.viewplays .userBlockVid img {
    border-radius: 50%;
    margin: 0;
    width: 100px;
    height: 100px;
    float: left;
}
.page.viewplays .userBlockVid {
    float: left;
    width: 100%;
}
.page.viewplays .userBlockVid p {    
    border-radius: 50%;
    text-align: left;
    float: left;
    font-size: 20px;
    margin: 20px;
}
/* FOOTER */
footer {
    font-size: 22px;
    padding: 60px;
    background: var(--dark-grey);
    text-align: justify;
}
footer .content {
    display: flex;
}
footer .footerLeft {
    padding: 0px 25px;
    font-style: italic;
    text-align: justify;
    vertical-align: top;
    flex: 2;
}
footer .footerRight {
    vertical-align: top;
    text-align: right;
    flex: 1;
    padding: 0px 25px;
    border-left: 5px solid var(--dark-purle);
}
footer h2 {
    margin: 20px 0;
    text-transform: uppercase;
    font-style:normal;
}
footer .footerRight p b {
    font-weight: 800;
}